# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/
iframe_figures/

# SQLite
*.db
*.sqlite

# OS
.DS_Store

# raw data
data/raw/
data/processed/

# colors
src/full_palette.py
src/palettes.py

# notes
notes/

# articles
articles/
